                                    /* Style A Appliquer partout */ 

  *{
  font-family: 'Roboto', sans-serif;
}
  a{
  text-decoration: none;
  color: #000;
}
  .header {
    display: flex;
  }
  .header__title{
    margin-top: 1.5%;
    margin-left: 2%;
  }
  .nav {
    display: flex;
    font-size: 1em;
    margin-top: 1.5%;
    margin-left: 72%;
  }
  .nav__item {
    list-style: none; 
    padding: 0; 
  }
  .nav__item {
    display: inline; 
  }
  .nav__item:not(:last-child):after {
    content: "|"; 
    margin: 0 8px; 
    color: #000; 
  }
  .footer{
    width: 80%;
    margin-left: 10%;
  }
  .footer__nav{
    display: flex;
    justify-content: space-between;
  }
  .footer__contact--icon{
    color: #000;
    background-color: white;
    margin: 5%;
  }


                                /* Style Index */


  .main--index{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 12.5%;
    margin-bottom: 10%;
    width: 75%;
  }
  .hero{
    display: flex;
    justify-content: center;
  }
  .hero__image--profil{
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }
  .about{
    display: block;
    align-items: center;
    width: 60%;
    height: 80%;
  }
  .about__title--index{
    font-size: 2.2rem;
  }
  .about__list--index {
    display: flex;
  }
  .about__list--index{
    display: flex;
    justify-content: space-between;
    width: 40%;

  }
  .about__bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20em; 
  }
  .about__bouton--orange{
    background-color: rgb(234, 134, 13);
  }
  .about__bouton--red{
    background-color: rgb(175, 10, 10);
  }
  .about__bouton--aqua{
    background-color: rgb(6, 238, 238);
  }


                              /* Style CV */


.main--cv{
  display: block;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.main__title, .section__experience, .hr__cv{
  margin-top: 2%;
  margin-bottom: 3%;
}
.container__space{
  display: flex;
  justify-content: space-between;
}
.experience__title{
  font-size: 1.5rem;
}


                                /* Style Projets */


  .main--projets{
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    margin-left: 10%;
  }
  .main__title--projet{
    margin-top: 7%;
    font-size: 1.3rem;
  }
  .section__about{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .section__about--image{
    width: 50%;
    height: 30%;
  }


                                  /*  Style Contact*/


.main--contact{
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 80%;
  height: 80%;
  background-color: blue;
}
.contact{
  width: 30%;
  background-color: aqua;
}
.contact__title{
  margin-left: 4%;
  font-size: 1.5rem;
}
.contact__container{
  align-items: center;
  font-size: 1.2rem;
  margin-top: 10%;
  margin-left: 5%;
  background-color: green;
}
.contact__us{
  margin: 3%;
}
.form{
  background-color: aqua;
}
.form__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__name, .container__mail{
  height: 5rem;
  width: 12rem;
}
.form__container--style{
  height: 3rem;
}
.inputsubmit{
  background-color: orange;
  height: 7rem;
  width: 7rem;
  margin-right: 15%;
  border-radius: 50%; 
}


