                                    /* Style A Appliquer partout */ 

*{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
header {
    display: flex;
  }
  
  #h1Univers{
    display: inline;
    position: absolute;
    top: 2%;
    left: 3%;
    font-size: 1.2em;
    color: #000;
  }
  #ulUnivers{
    display: flex;
    position: absolute;
    top: 2%;
    right: 8%;
  }
  .liUnivers {
    list-style: none; 
    padding: 0; 
  }
  
  .liUnivers li {
    display: inline; 
  }
  
  .liUnivers li:not(:last-child):after {
    content: "|"; 
    margin: 0 10px; 
    color: #000; 
  }
  .liUnivers {
    display: flex;
    display: inline;
    align-self: flex-start;
    margin-right: 10px; 
    font-size: 1em;
  }

  footer{
    width: 80%;
    margin-left: 15%;
    margin-top: 10%;
  }
  .hrfooter{
    margin-right: 10%;
  }
  .footerInfo{
    display: flex;
    justify-content: space-between;
  }

  .space{
    padding-left: 0;
    padding-right: 17%;
  }
  .followInst, .followLink, .followTwit{
    color: #000;
    background-color: white;
    margin: 5%;
  }



                                /* Style Index */


  .mainIndex{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    margin-left: 15%;
    width: 70%;
  }
  
  .imageAlphonse{
    height: 30em;
    border-radius: 20em;
  }
  .secIndex2{
    display: block;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 5%;
  }

  h2{
    font-size: 2.2rem;
  }

  .containerIndex {
    display: flex;
  }
  
  .cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20em; 
    margin: 10px; 
  }
  #cercle1{
    background-color: rgb(234, 134, 13);
  }
  #cercle2{
    background-color: rgb(175, 10, 10);
  }
  #cercle3{
    background-color: rgb(6, 238, 238);
  }

  #footerIndex{
    display: block;
    justify-content: center;
    position: absolute;
    right: 10%;
    bottom: 0%;
    width: 80%;
    height: 10%;
  }
  

                                /* Style Projets */



  .mainProjets{
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .titreProjet{
    margin-top: 7%;
    margin-left: 10%;
    font-size: 1.3rem;
  }

  .sectProjets1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .divdescprojets1{
    width: 40%;
    height: 40%;
    padding: 2%;
  }
  .divimgprojets1{
    padding: 2%;
  }
  .sectProjets2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .divdescprojets2{
    width: 40%;
    height: 40%;
    padding: 2%;
  }
  .divimgprojets2{
    padding: 2%;
  }



                                  /*  Style Contact*/


.mainContact{
  display: flex;
  margin-top: 8%;
  width: 90%;
}
#titre3Contact{
  margin-left: 10%;
  font-size: 1.5rem;
}

.secContact1{
  height: 30rem;
  width: 20rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-left: 15%;
}
.divcontact1{
  height: 7%;
  align-items: center;
  font-size: 1.5rem;
  margin: 10%;
}
.divcontact2, .divcontact3{
  height: 15%;
  margin: 10%;
}
.secContact2{
  height: 40rem;
  margin-left: 23%;

}
.divform1, .divform2, .divform3{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  width: 40rem;
  margin-left: 20%;
}
.divform3{
  margin-left: 17%;
}

#firstname, #lastname, #email, #subject{
  height: 3rem;
  width: 15rem;
}
#inputsubmit{
  background-color: darkorange;
  height: 10rem;
  width:10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
}


                            /* Style CV */


#mainCV{
  display: block;
  margin-top: 9%;
  margin-left: 5%;
  margin-right: 10%;
}

#titre1CV, .titre2CV, .hrcv{
  margin-top: 2%;
  margin-bottom: 3%;
}

.divtitre3CV{
  display: flex;
  justify-content: space-between;
}
.titre2CV{
  font-size: 1.5rem;
}
